<ion-content>
<ion-card>
    <img alt="foto integrante" src="../../assets/img/jp.jpeg" />
    <ion-card-header>
      <ion-card-title>João Pedro</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="foto integrante" src="../../assets/img/mt.jpeg" />
    <ion-card-header>
      <ion-card-title>Mathues Nowaski</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="foto integrante" src="../../assets/img/eu.jpeg" />
    <ion-card-header>
      <ion-card-title>Kauã Franco</ion-card-title>
    </ion-card-header>

  </ion-card>
</ion-content>